@font-face {
    font-family: 'roboto-mono';
    src: url('../fonts/RobotoMono-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'mulish';
    src: url('../fonts/Mulish-Regular.ttf') format('truetype');
}